.navbar {
    padding-top: 30px;
    width: 504px;
    display: flex;
    justify-content: flex-end;
}

.navbar,
.navbar__nav {
    display: flex;
}

.navbar__nav {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
}

.nav__item {
    margin: 0 20px 0 20px;
}

.nav__item:first-of-type {
    margin: 0 27px 0 -7px;
}

.nav__link {
    font: 400 12px/1 'Merienda', sans-serif;
    vertical-align: bottom;
    color: #fff;
}
