.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__title,
.description__text {
    text-align: center;
    color: #000;
}

.description__title {
    font: 400 24px/1.3 'Merienda', sans-serif;
}

.description__text {
    max-width: 346px;
    font: 400 14px/1.3 'Merienda', sans-serif;
    display: inline-block;
    white-space: pre-line;
    padding: 0 1em;
}