@import-normalize;

@import './assets/fonts/index.css';

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
a:active {
    text-decoration: none;
    color: #000000;
}
